.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #0b1416;
  color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

.messages-container {
  display: flex;
  flex-direction: row-reverse;

  height: 100vh;
  justify-content: space-between;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 100vw;

}

.messages {
  padding: 0;
  display: flex;
  margin-right: 5dvw;
  height: 70dvh;
  width: 80dvw;
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: column;
}

.message {
  background-color: #4d39ff; /* Background color of the message bubble */
  color: white;
  border-radius: 10px 10px 10px 0px; /* Rounded corners */
  padding: 10px; /* Padding inside the bubble */
  margin-bottom: 10px; /* Spacing between messages */
  width: fit-content;
  max-width: 60%;
}

.message-left {
  align-self: flex-end;
  background-color: #e5e5ea;
  color: black;
  border-radius: 10px 10px 0px 10px;
}

.message-right {
  align-self: flex-start;
  background-color: #17643e;
  border-radius: 10px 10px 0px 10px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121f22;
  scrollbar-width: none;
  overflow: hidden;
  padding: 0; 
}

ul .chat-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1px;
}

.chat-list li {
  padding: 10px;
  width: 90%;
  margin: 1px 0;
  border-radius: 10px;
  background-color: #152529;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.chat-list li:hover {
  background-color: #1f3a3f;
}

.online-dot {
  color: green;
  font-size: 1.3em;
}

.offline-dot {
  color: red;
  font-size: 1.3em;
}

.message-form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #152529;
  color: white;
  cursor: pointer;
}

button .message-button {
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #1f3a3f;
}

input {
  border: none;
  border-radius: 10px;
  background-color: #152529;
  color: white;

}

textarea {
  border: none;
  flex-grow: 1;
  width: 50vw;
  display: inline-block;
  border-radius: 10px;
  background-color: #152529;
  color: white;
  overflow-y: scroll;
  scrollbar-width: none;
  resize: none;
  margin: 0 auto;
}
